
* {
    
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(rgba(10, 8, 8, 0.452),rgba(10, 8, 8, 0.452)), url("https://topngoforchildeducation.files.wordpress.com/2020/10/donate-to-help-children.jpeg?w=723");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    
    padding:170px 50px 0px 50px;
    opacity:0.6;
    background-size: cover;
    background-position: center;
    max-height: 200vh;  
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  
   
}

.jumbotron{
    background-color: #eee;
    padding:50px 50px 50px 50px;
    width:100%;  
}

p{
    font-size: 20px;
}

h3{
    padding-bottom:20px;
    text-decoration-line: underline;  
}






